{% load static %}
{% load core_extras %}

{% if request.get_full_path == '/' %}
  {% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/DS' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/EL' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/ES' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/FR' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/PW' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/CM' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/FN' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/GS' %}
{% include 'atividades1.html' %}
{% endif %}

{% if request.get_full_path == '/MK' %}
{% include 'atividades1.html' %}
{% endif %}
