{% load static %}


{% if request.get_full_path == '/' %}

{% endif %}

{% if request.get_full_path == '/DS' %}

{% endif %}

{% if request.get_full_path == '/EL' %}

{% endif %}

{% if request.get_full_path == '/ES' %}

{% endif %}

{% if request.get_full_path == '/FR' %}

{% endif %}

{% if request.get_full_path == '/PW' %}

{% endif %}

{% if request.get_full_path == '/CM' %}

{% endif %}

{% if request.get_full_path == '/FN' %}

{% endif %}

{% if request.get_full_path == '/GS' %}

{% endif %}

{% if request.get_full_path == '/MK' %}

{% endif %}
